

.postContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    
    border: 1px solid palevioletred;
}
.postBox{
    padding: 20x;
    background-color: antiquewhite;
    border-radius: 8px;
    border: 1px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}